.the-tree-container {
    position: absolute;
    top: 0;
    left: 0;
}
.the-tree-open-tag {
    position: absolute;
    right: -26px;
    top: 1px;
}
    .the-tree-open-tag.open div {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -moz-transition: transform 1s;
        -webkit-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
    }
.the-tree-open-tag div a {
    background: url(Images/the-tree.png) #2b2b2b no-repeat;
    background-position: 3px 5px;
    border: 1px solid #404040;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    box-shadow: inset 0 0 1px #404040, 1px 1px 1px #363641;
    -moz-box-shadow: inset 0 0 1px #404040, 1px 1px 1px #363641;
    -webkit-box-shadow: inset 0 0 1px #404040, 1px 1px 1px #363641;
    -ms-box-shadow: inset 0 0 1px #404040, 1px 1px 1px #363641;
    -o-box-shadow: inset 0 0 1px #404040, 1px 1px 1px #363641;
    color: #aec3ce;
    display: block;
    padding: 3px 3px 3px 20px;
    text-decoration: none;
    text-indent: -200%;
    width: 0;
    transition: text-indent 0.5s, width 0.5s;
    -moz-transition: text-indent 0.5s, width 0.5s;
    -webkit-transition: text-indent 0.5s, width 0.5s;
    -ms-transition: text-indent 0.5s, width 0.5s;
    -o-transition: text-indent 0.5s, width 0.5s;
}
.the-tree-open-tag.open div a {
    top: -1px;
    right: -53px;
}
.the-tree-open-tag div a:hover, .the-tree-open-tag div a:active, .the-tree-open-tag.open div a {
    background-position: 3px -27px;
    background-color: #666c56;
    text-decoration: none;
    color: white;
    width: auto;
    height: auto;
    position: absolute;
    text-indent: 3px;
    transition: text-indent 0.5s, width 0.5s;
    -moz-transition: text-indent 0.5s, width 0.5s;
    -webkit-transition: text-indent 0.5s, width 0.5s;
    -ms-transition: text-indent 0.5s, width 0.5s;
    -o-transition: text-indent 0.5s, width 0.5s;
}
.the-tree-root {
    display: none;
    width: 232px;
    background: #2b2b2b;
    border: 1px solid #404040;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2p2p;
    -o-border-radius: 2px;
    color: #aec3ce;
    display: block;
    padding: 3px;
    line-height: 22px;
    overflow: hidden;
}
.the-tree-expando-glyph {
    display: inline-block;
    background: url(../../../Themes/TheAdmin/Styles/images/menu-glyph.png) no-repeat;
    background-position: 0 5px;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transform: rotate(0) translate(0, 0);
    -webkit-transform: rotate(0) translate(0, 0);
    -ms-transform: rotate(0) translate(0, 0);
    -o-transform: rotate(0) translate(0, 0);
    transform: rotate(0) translate(0, 0);
}
.the-tree-expando-glyph a {
    padding-left: 16px;
}
    .the-tree-expando-glyph.open {
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -moz-transform: rotate(90deg) translate(3px, 2px);
        -webkit-transform: rotate(90deg) translate(3px, 2px);
        -ms-transform: rotate(90deg) translate(3px, 2px);
        -o-transform: rotate(90deg) translate(3px, 2px);
        transform: rotate(90deg) translate(3px, 2px);
    }
.the-tree-branch {
    padding-left: 16px;
    line-height: 22px;
}
.the-tree-leaf a.the-tree-leaf-label {
    color: #AEC3CE;
    text-decoration: none;
    white-space: nowrap;
}
.the-tree-leaf a.the-tree-leaf-label:hover, .the-tree-leaf a.the-tree-leaf-label:active {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
@keyframes rotate {
    to {
        -moz-transform: rotate(72deg) translate(1px, 2px);
        -ms-transform: rotate(72deg) translate(1px, 2px);
        -o-transform: rotate(72deg) translate(1px, 2px);
        -webkit-transform: rotate(72deg) translate(1px, 2px);
        transform: rotate(72deg) translate(1px, 2px);
    }
}
@-moz-keyframes rotate {
    to {
        -moz-transform: rotate(72deg) translate(1px, 2px);
    }
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(72deg) translate(1px, 2px);
    }
}
@-o-keyframes rotate {
    to {
        -o-transform: rotate(72deg) translate(1px, 2px);
    }
}
.the-tree-waits {
    display: inline-block;
    background: url(Images/Wait.png) no-repeat;
    background-position: 0;
    margin-left: 7px;
    width: 20px;
    height: 16px;
    position: relative;
    top: 3px;
    -moz-animation-name: rotate;
    -webkit-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.the-explorer-waits {
    display: inline-block;
    background: url(Images/WaitDark.png) no-repeat;
    background-position: 0;
    width: 20px;
    height: 16px;
    position: relative;
    top: 0;
    -moz-animation-name: rotate;
    -webkit-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.nwazet-tree .zone-content {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.the-tree-explorer {
    display: table;
}
.the-tree-explorer-panes {
    display: table-row;
}
.the-tree-explorer-pane {
    display: table-cell;
    border-right: solid 1px #e4e5e6;
}
.the-tree-explorer-list li {
    white-space: nowrap;
    position: relative;
    padding: 2px 22px 2px 8px;
    height: 20px;
}
.the-tree-explorer-list li.selected {
    font-weight: bold;
    background-color: #f3f4f5;
}
.the-tree-explorer-list li:hover {
    background-color: #f3f4f5;
}
.the-tree-explorer-expand-node {
    position: absolute;
    right: 4px;
    font-family: Consolas, monospace;
    font-weight: bold;
    font-size: 1.4em;
}

/* RTL */
.dir-rtl .the-tree-container {
    left: inherit;
    right: 0;
}
.dir-rtl .the-tree-open-tag {
    right: inherit;
    left: -26px;
}

.dir-rtl .the-tree-open-tag div a {
    border-top-right-radius: inherit;
    -moz-border-top-right-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    -ms-border-top-right-radius: inherit;
    -o-border-top-right-radius: inherit;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    padding: 3px 20px 3px 3px;
}
.dir-rtl .the-tree-open-tag.open div a {
    right: inherit;
    left: -53px;
}
.dir-rtl .the-tree-expando-glyph a {
    padding-left: inherit;
    padding-right: 16px;
}
.dir-rtl .the-tree-branch {
    padding-left: inherit;
    padding-right: 16px;
}
.dir-rtl .the-tree-waits {
    margin-left: inherit;
    margin-right: 7px;
}
.dir-rtl .the-tree-explorer-list li {
    padding: 2px 8px 2px 22px;
}
